:root {
  --bg-color: grey;

  --about-img: url("../images/02-portfolio-4.jpg");
  --code-img: url("../images/02-portfolio-1.jpg");
}

* {
  box-sizing: border-box;
  margin: 0.5rem;
  padding: 0.5rem;
}

body {
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* MAIN CONTANER */
main {
  display: grid;
  grid-template-columns: 0.25fr 0.75fr;
  grid-template-rows: 0.4fr 0.4fr 0.2fr;
  grid-template-areas:
    "about about-detail"
    "work work-detail"
    "contact contact-detail";
  ;
}

#about-detail {
  color: red;
  background-image: var(--about-img);
  background-size: cover;
}

  /* CODE SUBCONTAINER */
  .subcontainer {
    display: grid;
    gap: 0.5em;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 250px 250px 250px;
    grid-template-areas:
      "sub1 sub1"
      "sub2 sub3"
      "sub4 sub5";
  }

  .subcontainer section {
    background-image: var(--code-img);
    background-size: cover;
    color: red
  }
  #code1 {
    grid-area: sub1;
  }

  #code2 {
    grid-area: sub2;
  }

  #code3 {
    grid-area: sub3;
  }

  #code4 {
    grid-area: sub4;
  }

  #code5 {
    grid-area: sub5;
  }

@media only screen and (max-width: 660px) {
  .subcontainer {
    grid-template-columns: 0.5fr;
    grid-template-rows: 0.25fr 0.25fr 0.25fr 0.25fr;
    grid-template-areas:
      "sub1"
      "sub2"
      "sub3"
      "sub4";
    ;    
  }
}

/* NAVIGATION */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/* BANNER */
.banner {
  text-align: right;
  height: 300px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/rice.jpg");
  background-size: cover;
  background-position: center;  
}

.banner h2 {
}