/*INDEX
i) ROOT, universal and body
ii) NAVAIGATION bar
iii) BANNER
iv) CONTENT GRIDS
v) MEDIA QUERIES
*/

/* VARIABLES */
:root {
  --bg-color: grey;
  --contrast-color: yellow;

  --banner-img: url("../images/steve.jpg");
  --about-img: url("../images/rice.jpg");
  --code-img: url("../images/02-portfolio-1.jpg");
}

* {
  box-sizing: border-box;
  margin: 0.5rem;
  padding: 0.5rem;
}

body {
  background-color: var(--bg-color);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

/* NAVIGATION */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  scroll-behavior: smooth;
}

nav div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/* BANNER */
.banner {
  background-image: var(--banner-img);
  background-size: cover;
  background-position: center;
  color: var(--contrast-color);
  height: 600px;
  width: 100%;
  margin-bottom: 25px;
  text-align: right;
}


/* MAIN CONTANER */
main {
  display: grid;
  gap: 0.5em;
  grid-template-columns: 0.25fr 0.75fr;
  grid-template-rows: 0.4fr 0.4fr 0.2fr;
  grid-template-areas:
    "about about-detail"
    "work work-detail"
    "contact contact-detail";
  ;
} 

#about-detail {
  background-image: var(--about-img);
  background-size: cover;
}

  /* CODE SUBCONTAINER - work-detail*/
  .subcontainer {
    display: grid;
    gap: 0.5em;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 250px 250px 250px;
    grid-template-areas:
      "sub1 sub1"
      "sub2 sub3"
      "sub4 sub5";
  }

  .subcontainer section {
    background-image: var(--code-img);
    background-size: cover;
    color: red
  }

  .subcontainer p {
    color: var(--contrast-color);
  }

  #code1 {
    grid-area: sub1;
  }

  #code2 {
    grid-area: sub2;
  }

  #code3 {
    grid-area: sub3;
  }

  #code4 {
    grid-area: sub4;
  }

  #code5 {
    grid-area: sub5;
  }

  /* MEDIA QUERIES */
@media only screen and (max-width: 660px) {
  .subcontainer {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.2fr 0.2fr 0.2fr ;
    grid-template-areas:
      "sub1"
      "sub2"
      "sub3"
      "sub4"
      "sub5";
  }
}

@media only screen and (min-width:661px max-width: 990px) {
  .subcontainer {
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 0.33fr 0.33fr 0.33fr;
    grid-template-areas:
      "sub1 sub1"
      "sub2 sub3"
      "sub4 sub5";
  }
}